<h1>All List Of Jobs</h1>
<section class="stats">
        <%= render 'shared/stats' %>
      </section>


<table bgcolor="yellow" align="center" width="100%">
  <ul class="users">
    <center><%= will_paginate %></center>
    <% if (@posts.any?) %>
      <tr>
      	<td>Post Id</td>
      	<td>Post Title</td>
      	<td>Posted By</td>
        <td>Posted Before</td>
      	<td>Status</td>
      </tr>
    	
      <% @posts.each do |post| %>
        <% @post = post %>
        <% temp = 1%>
        <tr>
           <td><%= link_to post.id, '#' %></td>
           <td><%= link_to post.title, show_for_user_path(post.title) %></td>
           <td> <%= link_to post.user_id, profile_path(post.user_id) %></td>
           <td><%= time_ago_in_words(post.created_at) %></td>
           <td>
             
             <div id="apply_form">
                <% if current_user.applying?(post,current_user) %>
                  <%#= render partial: 'unapply', locals: {post_id: post.id} %>
                  <%#= link_to "UnApply", edit_apply_path(post.id), :method => :delete, class: " btn-sm btn-primary", :id => "job_btn", 'data-id' => "#{post.id}"  %>
                  <%= link_to "Cancel", jobcancel_path(post.id), method: :delete, class: " btn-sm btn-primary",data: {confirm: "r u shure"} %>

                  <%#= link_to 'Cancel', '#', data: { confirm: 'Are you sure?' }, class: " btn-sm btn-primary" %>


                <% else %>
                  <%#= render partial: 'apply', locals: {post_id: post.id} %>
                      <%= link_to "Apply", apply_index_path(:post_id => post.id), :method => :post, class: " btn-sm btn-primary"  %>




                <% end %>
             </div>
                     <%#= link_to "Apply", 'javascript:void(0)', :method => :post, class: "btn btn-sm btn-primary apply-btn", :id => "job_btn", 'data-id' => "#{post.id}"  %>
                     
             
              
          </td>


      <% end %>
      
    </tr>

    <% else %>
    	No any Jobs
    <% end %>

  </ul>

</table>

<center><%= will_paginate %></center>