<table bgcolor="yellow" align="center" width="100%" class="TFtable">
<ul class="users">
<% if (@posts.any?) %>
			<h1>Posted By you</h1>
			<center><%= will_paginate %></center>

				<tr>
					<td>Post Id</td>
					<td>Post Title</td>
					<td>Posting Date</td>
					<td>Last Update</td>
					<td colspan="2" align="center">Admin Action</td>
				</tr>

  <% @posts.each do |post| %>
  <% if @current_user.id == post.user_id %>


			<tr>
	     		<td><%= post.id  %></td>
	     		<td><%= link_to post.title, show_for_emp_path(post.title) %></td>
	     	    <td>Posted <%= time_ago_in_words(post.created_at) %> ago.</td>
	     	    <td>Posted <%= time_ago_in_words(post.updated_at) %> ago.</td>
	     	    <td>
					
      					<%= link_to "delete", post , method: :delete,
                                       data: { confirm: "You sure?" } %>


	     	    </td>
	     	    <td>
						<%= link_to "Update", edit_post_path(post.id) %>

	     	    	
	     	    </td>
			</tr>
			<tr>
			</tr>
			<% end %>
  
  <% end %>

<% else %>
	No any Jobs

<% end %>

</ul>
</table>

			<br><br><center><%= link_to "New Job", new_post_path , class: "btn btn-lg btn-primary" %></center>



